@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModels.ResetPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@if ((string)TempData["status"] == "OK")
{
    <h3>Your Password was changed, please login with your new credentials</h3>
}
else
{
    <div class="container">
        <div class="col">
            <div class="row">
                @using (Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>Reset your password</legend>
                        <p>
                            Enter a new password followed by the same password again for confirmation.
                            Your password must be at least 8 characters and contain 1 number and 1 special symbol
                        </p>
                    </fieldset>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(m => m.ConfirmPassword)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Confirm Password", type = "password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                    <button class="btn btn-danger" type="submit" >Change Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
}